{{!-- create a route POST for form to add an expense --}}
<form action="/expense/add" method="post">
    <div>
        <h1 class="font-bold text-4xl py-10">Expense Tracker APP</h1>

        {{!-- flash messages --}}
        {{#if messages.error}}
            <p class="messages text-[#DB162F]">{{messages.error}}</p>
        {{/if}}

        {{#if messages.success}}
            <p class="messages text-[#53A548]">{{messages.success}}</p>
        {{/if}}

        {{!-- add an expense section --}}
        <div class="addExpense">

            <h2 class="py-4 text-2xl">
                <strong>
                    Add Expense
                </strong>
            </h2>

            {{!-- create a description dropdown --}}
            <div class="description">
                <h3 class="font-bold">
                    Description
                </h3>

                <div class="px-4 py-2">
                    <label for="description">Expense</label>
                    <input type="text" name="description" placeholder="Enter your expense!">
                </div>
            </div>

            {{!-- create an amount input text area --}}
            <div class="py-2">
                <h3 class="font-bold">
                    Amount
                </h3>

                <div>
                    <input name="amount"
                        class="bg-[#FFFFFF] focus:bg-white rounded-md border-2"
                        type="number" placeholder="Enter amount" />
                </div>
            </div>

            {{#each availableCatagories}}
                {{!-- categories section --}}
                <div class="catagories">
                    <label for="category" class="w-6 h-6 p-4">
                        <input name="category" value="{{id}}" type="radio" class="focus:ring-2 focus:ring-[#] focus:border-[]">
                        <span class="text-[#]">
                            <strong>
                                {{category_type}}
                            </strong>
                        </span>
                    </label>
                </div>
            {{/each}}

            {{!-- add an expense button --}}
            <div class="addExpenseBtn">
                <button type="submit" class="bg-[#065A82] py-2 px-4 text-[#FFFFFF] font-bold">Add expense</button>
            </div>
        </div>

        {{!-- display user expenses totals --}}

        <div class="summary">
            <h2 class="font-bold py-4 text-2xl">
                Expense summary per catagory
            </h2>

            <table>
                <tr>
                    <th>Category</th>
                    <th>Totals</th>
                </tr>

                {{#each categories}}
                <tr>
                    <td>
                        <a href="/expense/filter/{{id}}" class="text-[#065A82]">
                            <strong>{{category_type}}</strong>
                        </a>
                    </td>
                    <strong>
                        <td>R {{total}}.00</td>
                    </strong>
                </tr>
                {{/each}}
            </table>

            <div>Total expenses {{grandTotal}}</div>

            <a href="/expenses/view" class="text-[#065A82] font-bold text-2xl">
                <strong>
                    View expenses
                </strong>
            </a>
        </div>

    </div>
</form>
